/*******************************
          GENERAL
*******************************/

body {
  display: flex;
  flex-wrap: wrap;

}

/*******************************
       IMAGE CONTAINER
*******************************/


.img-conatiner {
  height: 300px;
  background-image: url("images/honnold.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.back{
  position: absolute;
  top: 46%;
  left: 6%;
}

.next {
  position: absolute;
  top: 46%;
  right: 6%;
}

.circles {
  position: absolute;
  top: 1%;
  right: 8%;
}

/*******************************
       PROFILE CONTAINER
********************************/

.content-container {
  position: absolute;
  top: 41%;
  left: 36%;
  /*display: block;*/
}

.profile-container {
  margin: 25px 20px 0;
  color: white;
}

.profile-btn {
  background-color: transparent;
  color: white;
  border: 1px white solid;
  padding: 10px;
  margin-right: 15px;
  width: 90px;
}

/*******************************
       BOX STYLE
*******************************/

.icon{
  width: 40px;
  height: auto;
  color: white;
}

.box {
  position: relative;
  width: 50%;
  height: 50%;
}

.profile {
  background-color: #E16036;
  order: 8;
}

.fire {
  background-color: #BDBDBD;
  order: 7;
}


.mountains {
  background-color: #6C756B;
  order: 6;
}

.carabiner {
  background-color: #93ACB5;
  order: 5;
}

.summit {
  background-color: #BBDEFB;
  order: 4;
}

.teepee {
  background-color: grey;
  order: 3;
}

.pick {
  background-color: #81171B;
  order: 2;
}

.blue-fire{
  background-color: #0292F2;
  order: 1;
}


/*******************************
       MEDIA QUERIES
*******************************/

/*@media screen and (max-width:775px) {
  body {
    flex-direction: column-reverse;
  }
  .container {
    width: 100%;
  }
  .content-container{
    top: 36%;
    left: 43%;
  }
  .img-conatiner{
    background-position: top;
    height: 45vh;
  }

  .box {
    width: 50%;
    height: 25%;
    font-size: x-small;
  }

  .box-container{
    bottom: 0;
    top: 44%;
  }
  .profile-btn{
    width: 65px;
    margin-right: 7px;
  }
  .profile-container{
    margin: 20px 6px 0;
  }
}*/

@media screen and (max-width:560px) {
