nav {
  text-align: center;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  max-width: 778px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.drop-down-icon, .notification-icon {
  width: 30px;
  height: 100%;
  margin: 20px;
}

/*************************
          CARD
*************************/
.card * {
  /*border: 2px grey dashed;*/
  margin: 0;
}

.card,
.stats,
.name {
  display: flex;
}

.card {
  flex-wrap: wrap;
  background-color: #fff;
  border: 2px lightgrey solid;
  flex: .3 0 287px;
  margin: 7px;
}

/*******title section********/
.card-title {
  flex: 1 0 100%;
  background-color: lightgrey;
  margin: 0;
  text-align: center;
}

/******* middle section ********/

.card-img,
.stats {
  margin: 10px 0 10px 10px;
}
.card-img{
  flex: 1 0 40%;
}

.stats {
  flex-direction: column;
  flex: 1 0 40%;
}

.img {
  border-radius: 50%;
  width: 115px;
  max-width: 240px;
  height: 100%;
}

.number {
  font-size: 10vh;
  flex: 1 0 80px;
}

/*******bottom section********/

.name {
  flex: 1 0 100%;
  border-top: 2px lightgrey solid;
  justify-content: center;
  padding: 4px 0;
}

/*************************
      MEDIA QUERIES
*************************/

@media (min-width: 540px) {
  /*.card {
    max-width: 400px
}*/
